*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    
    margin-bottom: 1rem;
}

header h1 {
    font-size: 2rem;
}

header p {
    font-size: 1rem;
}
span{
    color: #ffa1a6;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    width: 50%;
}

.main fieldset{
    padding: 0.6rem;
    background-color: #e0e1ff;
    border-radius: 1rem;
    border: 1px solid black;
}



legend{
    border: 1px solid black;
    padding: 4px;
    background-color: white;
    box-shadow: 2px 2px gray;
}

.row{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
    padding: 0.2rem; 
}

.label{
    font-weight: bold;
    width: 30%;
}

.radio-btn-group{
    display: flex;
    gap: 1rem
}

.input-container{
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 70%;
}

.input{
    width: 70%;
}

input[type=number]{
    width: 80px;
}

#personality{
    width: 80px;
}

.width-70{
    width: 70%;
}

.red{
    color: red;
}

#submit{
    width: 25%;
    height: 30px;
    background-color: #ffa1a6;
    font-size: 1.3rem;
    font-weight: bold;
}